In [17]:
from traffic.core import Traffic
import pandas as pd

In [20]:
def load_flights_from_csv(csv_file):
    # Load the flight data from the CSV file into a Traffic object
    traffic = Traffic.from_file(csv_file)
    
    if traffic is None:
        print("Failed to load flight data.")
        return
    
    traffic.data["timestamp"] = pd.to_datetime(traffic.data['timestamp'], errors='coerce', utc=True, unit='s')
    traffic.data["lastcontact"] = pd.to_datetime(traffic.data['lastcontact'], errors='coerce', utc=True, unit='s')
    traffic.data["lastposupdate"] = pd.to_datetime(traffic.data['lastposupdate'], errors='coerce', utc=True, unit='s')
    traffic.data.dropna(subset=['longitude', 'latitude'], inplace=True)
    
    return traffic

In [21]:
traffic = load_flights_from_csv(csv_file="data/states_2022-02-21-16.csv")

In [22]:
traffic.data

,timestamp,icao24,latitude,longitude,groundspeed,track,vertical_rate,callsign,onground,alert,spi,squawk,altitude,geoaltitude,lastposupdate,lastcontact
0,2022-02-21 16:00:00+00:00,400f02,53.991280,9.518602,202.784924,308.614407,-0.32512,EZY48GE,False,False,False,1342.0,11277.60,10858.50,1.645459e+09,1.645459e+09
1,2022-02-21 16:00:00+00:00,3950c7,53.705475,9.425092,194.310791,51.339111,-603.88500,AFR15ED,False,False,False,653.0,4274.82,3992.88,1.645459e+09,1.645459e+09
2,2022-02-21 16:00:00+00:00,4072ea,53.991065,9.401937,247.777344,242.687988,19.05000,VIR365,False,False,False,743.0,11582.40,11178.54,1.645459e+09,1.645459e+09
3,2022-02-21 16:00:00+00:00,4bc845,51.806674,8.228159,193.745605,298.196411,NaN,PGT79D,False,False,False,1000.0,9738.36,9380.22,1.645459e+09,1.645459e+09
4,2022-02-21 16:00:00+00:00,3965b0,54.459078,8.529468,260.098389,214.035645,NaN,AFR125,False,False,False,3524.0,10972.80,10553.70,1.645459e+09,1.645459e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2944269,2022-02-21 16:59:50+00:00,ab1979,37.746552,-97.602831,198.157792,281.835032,4.87680,DAL390,False,False,False,7207.0,11155.68,11209.02,1.645463e+09,1.645463e+09
2944270,2022-02-21 16:59:50+00:00,a2004b,30.186905,-96.180779,144.369156,126.012363,-6.17728,N228SB,False,False,False,2430.0,1783.08,1920.24,1.645463e+09,1.645463e+09
2944271,2022-02-21 16:59:50+00:00,a6a7d6,28.769562,-81.428941,44.759584,90.658543,0.00000,LFA315,False,False,False,362.0,388.62,472.44,1.645463e+09,1.645463e+09
2944272,2022-02-21 16:59:50+00:00,00b098,-33.483721,19.114025,168.125620,220.905551,-4.55168,SFR204,False,False,False,NaN,3307.08,3489.96,1.645463e+09,1.645463e+09
2944273,2022-02-21 16:59:50+00:00,a275f1,29.383912,-82.445445,92.332308,352.637407,0.32512,N258HM,False,False,False,6716.0,1874.52,1973.58,1.645463e+09,1.645463e+09

In [41]:
flights = []
i = 0
for flight in traffic:
    i += 1
    if i == 10:
        break
    print(f"Processing flight {flight.callsign}:")
    print(i)
    # Optionally, visualize the flight path
    flights.append(flight)

Processing flight LVX635  :
1
Processing flight LNK909  :
2
Processing flight LNK179  :
3
Processing flight LNK898  :
4
Processing flight LNK739  :
5
Processing flight LNK799  :
6
Processing flight FA316   :
7
Processing flight FA316   :
8
Processing flight SFR120  :
9

In [46]:
flights[3].data

,timestamp,icao24,latitude,longitude,groundspeed,track,vertical_rate,callsign,onground,alert,spi,squawk,altitude,geoaltitude,lastposupdate,lastcontact
56986,2022-02-21 16:01:30+00:00,00834d,-33.968749,18.602886,61.769709,165.037845,0.32512,LNK898,False,False,False,NaN,38.10,76.20,1.645459e+09,1.645459e+09
65679,2022-02-21 16:01:40+00:00,00834d,-33.976430,18.605289,80.230177,165.518231,8.12800,LNK898,False,False,False,NaN,45.72,91.44,1.645459e+09,1.645459e+09
76320,2022-02-21 16:01:50+00:00,00834d,-33.982727,18.607309,76.252333,164.744881,16.90624,LNK898,False,False,False,NaN,175.26,228.60,1.645459e+09,1.645459e+09
83274,2022-02-21 16:02:00+00:00,00834d,-33.989502,18.609382,75.887029,167.471192,10.72896,LNK898,False,False,False,NaN,320.04,358.14,1.645459e+09,1.645459e+09
92586,2022-02-21 16:02:10+00:00,00834d,-33.996231,18.611120,82.863819,167.085368,4.22656,LNK898,False,False,False,NaN,396.24,441.96,1.645459e+09,1.645459e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652505,2022-02-21 16:33:50+00:00,00834d,-31.996331,21.581521,262.647720,49.289153,0.32512,LNK898,False,False,False,NaN,11887.20,12458.70,1.645461e+09,1.645461e+09
1654213,2022-02-21 16:34:00+00:00,00834d,-31.996331,21.581521,262.647720,49.289153,0.32512,LNK898,False,False,False,NaN,11887.20,12458.70,1.645461e+09,1.645461e+09
1665277,2022-02-21 16:34:10+00:00,00834d,-31.996331,21.581521,262.647720,49.289153,0.32512,LNK898,False,False,False,NaN,11887.20,12458.70,1.645461e+09,1.645461e+09
1675473,2022-02-21 16:34:20+00:00,00834d,-31.996331,21.581521,262.647720,49.289153,0.32512,LNK898,False,False,False,NaN,11887.20,12458.70,1.645461e+09,1.645461e+09
1683551,2022-02-21 16:34:30+00:00,00834d,-31.996331,21.581521,262.647720,49.289153,0.32512,LNK898,False,False,False,NaN,11887.20,12458.70,1.645461e+09,1.645461e+09

In [39]:
flights

[]