In [3]:
from traffic.core import Traffic
import pandas as pd

In [4]:
def load_flights_from_csv(csv_file):
    # Load the flight data from the CSV file into a Traffic object
    traffic = Traffic.from_file(csv_file)
    
    if traffic is None:
        print("Failed to load flight data.")
        return
    
    traffic.data["timestamp"] = pd.to_datetime(traffic.data['timestamp'], errors='coerce', utc=True, unit='s')
    traffic.data["lastcontact"] = pd.to_datetime(traffic.data['lastcontact'], errors='coerce', utc=True, unit='s')
    traffic.data["lastposupdate"] = pd.to_datetime(traffic.data['lastposupdate'], errors='coerce', utc=True, unit='s')
    traffic.data.dropna(subset=['longitude', 'latitude'], inplace=True)
    
    return traffic

In [5]:
traffic = load_flights_from_csv(csv_file="data/states_2022-02-21-16.csv")

In [13]:
traffic.airborne().first("10 min").resample("20s").eval()

   icao24  callsign  count
0  71c075  KAL8251      83
1  a326d1  ASA131       82
2  a9e5e9  SWA1224      79
3  a60f37  RAX121       78
4  4067ef  TOM5DC       75
5  3e0fde  CHX51        66
6  ace7ee  N930ZF       65
7  896110  UAE752       62
8  a50d45  N4243J       62
9  ab6247  SWA1469      62

In [7]:
traffic["ab9b7a"].map_leaflet()

Several callsigns for one flight, consider splitting
Several callsigns for one flight, consider splitting

Map(center=[35.5892446163978, -84.26373048842706], controls=(ZoomControl(options=['position', 'zoom_in_text', …

In [8]:
flights = []
i = 0
print(traffic.length)

14252

In [6]:
flights[3].data

,timestamp,icao24,latitude,longitude,groundspeed,track,vertical_rate,callsign,onground,alert,spi,squawk,altitude,geoaltitude,lastposupdate,lastcontact
56986,2022-02-21 16:01:30+00:00,00834d,-33.968749,18.602886,61.769709,165.037845,0.32512,LNK898,False,False,False,NaN,38.10,76.20,2022-02-21 16:01:28.292000055+00:00,2022-02-21 16:01:28.292000055+00:00
65679,2022-02-21 16:01:40+00:00,00834d,-33.976430,18.605289,80.230177,165.518231,8.12800,LNK898,False,False,False,NaN,45.72,91.44,2022-02-21 16:01:39.930999994+00:00,2022-02-21 16:01:39.930999994+00:00
76320,2022-02-21 16:01:50+00:00,00834d,-33.982727,18.607309,76.252333,164.744881,16.90624,LNK898,False,False,False,NaN,175.26,228.60,2022-02-21 16:01:49.726999998+00:00,2022-02-21 16:01:49.727999926+00:00
83274,2022-02-21 16:02:00+00:00,00834d,-33.989502,18.609382,75.887029,167.471192,10.72896,LNK898,False,False,False,NaN,320.04,358.14,2022-02-21 16:01:59.868999958+00:00,2022-02-21 16:01:59.868999958+00:00
92586,2022-02-21 16:02:10+00:00,00834d,-33.996231,18.611120,82.863819,167.085368,4.22656,LNK898,False,False,False,NaN,396.24,441.96,2022-02-21 16:02:09.483000040+00:00,2022-02-21 16:02:09.483000040+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1652505,2022-02-21 16:33:50+00:00,00834d,-31.996331,21.581521,262.647720,49.289153,0.32512,LNK898,False,False,False,NaN,11887.20,12458.70,2022-02-21 16:29:36.609999895+00:00,2022-02-21 16:29:39.105999947+00:00
1654213,2022-02-21 16:34:00+00:00,00834d,-31.996331,21.581521,262.647720,49.289153,0.32512,LNK898,False,False,False,NaN,11887.20,12458.70,2022-02-21 16:29:36.609999895+00:00,2022-02-21 16:29:39.105999947+00:00
1665277,2022-02-21 16:34:10+00:00,00834d,-31.996331,21.581521,262.647720,49.289153,0.32512,LNK898,False,False,False,NaN,11887.20,12458.70,2022-02-21 16:29:36.609999895+00:00,2022-02-21 16:29:39.105999947+00:00
1675473,2022-02-21 16:34:20+00:00,00834d,-31.996331,21.581521,262.647720,49.289153,0.32512,LNK898,False,False,False,NaN,11887.20,12458.70,2022-02-21 16:29:36.609999895+00:00,2022-02-21 16:29:39.105999947+00:00
1683551,2022-02-21 16:34:30+00:00,00834d,-31.996331,21.581521,262.647720,49.289153,0.32512,LNK898,False,False,False,NaN,11887.20,12458.70,2022-02-21 16:29:36.609999895+00:00,2022-02-21 16:29:39.105999947+00:00

In [39]:
flights

[]