In [29]:
from functions.data_loading import get_wind_direction

In [30]:
gardermoen = get_wind_direction("GARDERMOEN")
flesland = get_wind_direction("Flesland")

In [31]:
gardermoen

         source                      time  wind_direction
0      SN4780:0  2023-01-01T00:00:00.000Z              43
1      SN4780:0  2023-01-01T00:20:00.000Z             340
2      SN4780:0  2023-01-01T00:50:00.000Z             320
3      SN4780:0  2023-01-01T01:00:00.000Z              27
4      SN4780:0  2023-01-01T01:20:00.000Z             340
...         ...                       ...             ...
24651  SN4780:0  2023-12-31T22:20:00.000Z              40
24652  SN4780:0  2023-12-31T22:50:00.000Z              40
24653  SN4780:0  2023-12-31T23:00:00.000Z              51
24654  SN4780:0  2023-12-31T23:20:00.000Z              40
24655  SN4780:0  2023-12-31T23:50:00.000Z              50

[24656 rows x 3 columns]

In [32]:
flesland

          source                      time  wind_direction
0      SN50500:0  2023-01-01T00:00:00.000Z              58
1      SN50500:0  2023-01-01T00:20:00.000Z              50
2      SN50500:0  2023-01-01T00:50:00.000Z              60
3      SN50500:0  2023-01-01T01:00:00.000Z              49
4      SN50500:0  2023-01-01T01:20:00.000Z              50
...          ...                       ...             ...
23698  SN50500:0  2023-12-31T22:20:00.000Z              80
23699  SN50500:0  2023-12-31T22:50:00.000Z              90
23700  SN50500:0  2023-12-31T23:00:00.000Z              84
23701  SN50500:0  2023-12-31T23:20:00.000Z              80
23702  SN50500:0  2023-12-31T23:50:00.000Z              80

[23703 rows x 3 columns]