In [152]:
from pyopensky.trino import Trino
from traffic.core import Traffic

from datetime import datetime, timedelta

ICAO_codes = {"bergen": "ENBR",
              "oslo": "ENGM",
              "gatwick":"EGKK",
              "heathrow":"EGLL",
              "new york": "KJFK",
              "cape town":"FACT",
              "los angeles": "KLAX"}
query = Trino()

# query status: https://trino.opensky-network.org/ui/

In [ ]:
result = query.history(start=datetime.now()-timedelta(days=7), departure_airport=ICAO_codes["oslo"], arrival_airport=ICAO_codes["bergen"])

In [3]:
result = result.rename(columns={'time': 'timestamp', 'lat': 'latitude', 'lon': 'longitude'})
flights = Traffic(result)

In [4]:
flights

   icao24 callsign  count
0  4ac9f9   SAS88E   2406
1  4794f2   NOZ1TT   2382
2  4aca73   SAS271   2369
3  4aca6e   SAS263   2350
4  4aca6e   SAS251   2344
5  47a039   NOZ616   2342
6  4acb5a   SAS269   2293
7  4aca70   SAS43D   2289
8  47a22c   NOZ4HF   2287
9  47a185   NOZ620   2282

In [5]:
flights[7].data

,timestamp,icao24,latitude,longitude,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,serials,hour
15641,2024-08-29 20:02:17+00:00,47a185,60.197960,11.120627,NaN,NaN,NaN,NOZ638,True,False,False,None,NaN,NaN,1.724962e+09,1.724962e+09,[],2024-08-29 20:00:00+00:00
15642,2024-08-29 20:02:18+00:00,47a185,60.183943,11.112573,76.035102,196.105142,0.32512,NOZ638,False,False,False,None,220.98,NaN,1.724962e+09,1.724962e+09,[-1408233889],2024-08-29 20:00:00+00:00
15643,2024-08-29 20:02:19+00:00,47a185,60.183152,11.112082,79.144162,195.843082,0.32512,NOZ638,False,False,False,None,220.98,251.46,1.724962e+09,1.724962e+09,[-1408233889],2024-08-29 20:00:00+00:00
15644,2024-08-29 20:02:20+00:00,47a185,60.183152,11.112082,79.144162,195.843082,0.32512,NOZ638,False,False,False,None,220.98,251.46,1.724962e+09,1.724962e+09,[-1408233889],2024-08-29 20:00:00+00:00
15645,2024-08-29 20:02:21+00:00,47a185,60.183152,11.112082,79.144162,195.843082,0.32512,NOZ638,False,False,False,None,220.98,251.46,1.724962e+09,1.724962e+09,[-1408233889],2024-08-29 20:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17883,2024-08-29 20:39:39+00:00,47a185,60.314941,5.210855,71.465141,170.469872,-3.57632,NOZ638,False,False,False,None,129.54,182.88,1.724964e+09,1.724964e+09,"[-1408229962, -1408232008, -1408233365]",2024-08-29 20:00:00+00:00
17884,2024-08-29 20:39:40+00:00,47a185,60.314026,5.211213,71.465141,170.469872,-3.57632,NOZ638,False,False,False,None,129.54,182.88,1.724964e+09,1.724964e+09,"[-1408229962, -1408232008, -1408233365]",2024-08-29 20:00:00+00:00
17885,2024-08-29 20:39:41+00:00,47a185,60.314026,5.211213,71.552115,170.063610,-3.57632,NOZ638,False,False,False,None,129.54,175.26,1.724964e+09,1.724964e+09,"[-1408229962, -1408232008, -1408233365]",2024-08-29 20:00:00+00:00
17886,2024-08-29 20:39:42+00:00,47a185,60.313293,5.211497,71.552115,170.063610,-3.57632,NOZ638,False,False,False,None,121.92,175.26,1.724964e+09,1.724964e+09,"[-1408229962, -1408232008, -1408233365]",2024-08-29 20:00:00+00:00
17887,2024-08-29 20:39:43+00:00,47a185,60.312241,5.211781,71.552115,170.063610,-3.57632,NOZ638,False,False,False,None,114.30,175.26,1.724964e+09,1.724964e+09,"[-1408229962, -1408232008, -1408233365]",2024-08-29 20:00:00+00:00

In [8]:
flights.map_leaflet()

Map(center=[60.25531309117478, 7.86236742015477], controls=(ZoomControl(options=['position', 'zoom_in_text', '…

In [171]:
i = -1

In [175]:
flights[i].map_leaflet(zoom=4)

Map(center=[36.82802449425024, -93.81348126578375], controls=(ZoomControl(options=['position', 'zoom_in_text',…

In [12]:
result = query.history(start=datetime.now()-timedelta(days=7), departure_airport=ICAO_codes["new york"], arrival_airport=ICAO_codes["heathrow"])

RUNNING: : 54.7% [00:09, 5.76%/s]
DOWNLOAD: 246klines [00:49, 4.92klines/s]

In [13]:
result = result.rename(columns={'time': 'timestamp', 'lat': 'latitude', 'lon': 'longitude'})
flights = Traffic(result)

In [148]:

flights.map_leaflet(zoom=2)

Map(center=[45.856671334318015, -30.6614147515407], controls=(ZoomControl(options=['position', 'zoom_in_text',…

In [153]:
result = query.history(start=datetime.now()-timedelta(days=7), departure_airport=ICAO_codes["los angeles"], arrival_airport=ICAO_codes["new york"])

RUNNING: : 54.4% [00:08, 6.49%/s]
DOWNLOAD: 544klines [00:57, 9.49klines/s]

In [169]:
result = result.rename(columns={'time': 'timestamp', 'lat': 'latitude', 'lon': 'longitude'})
flights = Traffic(result)
flights[9].map_leaflet()

Map(center=[37.22228977066118, -108.97150347613159], controls=(ZoomControl(options=['position', 'zoom_in_text'…

In [159]:
for i in flights:
    if i.emergency:
        break
i.emergency()

FlightIterator()

In [176]:
flights

   icao24 callsign  count
0  ad2445  JBU1114  22005
1  a01880    AAL10  20196
2  ad9ac9  JBU1524  19416
3  add734   JBU524  19414
4  a03235    AAL28  19190
5  a13af4   DAL951  19170
6  a0275c  AAL2201  19146
7  a11380   DAL960  19131
8  acca19  JBU1124  19015
9  a1bc92   JBU424  19004