In [1]:
from pyopensky.trino import Trino
from traffic.core import Traffic

from datetime import datetime, timedelta
from functions.data_loading import get_data_range

ICAO_codes = {"bergen": "ENBR",
              "oslo": "ENGM",
              "gatwick":"EGKK",
              "heathrow":"EGLL",
              "new york": "KJFK",
              "cape town":"FACT",
              "los angeles": "KLAX"}
query = Trino()

# query status: https://trino.opensky-network.org/ui/

In [2]:
flights: Traffic = get_data_range('bergen', 'oslo', datetime(year=2023, month=1, day=1), datetime(year=2024, month=1, day=1))

In [3]:
flights[1].map_leaflet(zoom=4)

Map(center=[60.227116936096806, 8.228152475134355], controls=(ZoomControl(options=['position', 'zoom_in_text',â€¦

In [ ]:
ny_heathrow: Traffic = get_data_range(origin="new york", destination="heathrow", start=datetime.now()-timedelta(weeks=1), stop=datetime.now())

In [ ]:
ny_heathrow[3].map_leaflet(zoom=2)

In [ ]:
la_ny: Traffic = get_data_range(origin="los angeles", destination="new york", start=datetime.now()-timedelta(weeks=1), stop=datetime.now())

In [ ]:
la_ny[0].map_leaflet()

In [ ]:
flights[0].map_leaflet(zoom=4)

In [5]:
flights

   icao24 callsign   count
0  478dd9     AKK2  154057
1  4ac958   SAS252   64652
2  47a48c   BNO93J   57318
3  47c1c6     BNOG   56390
4  478777     MDT1   51530
5  47808d   WIF156   48028
6  47a48c   BNO92J   43902
7  47885f     BNON   42620
8  4783cc    WIF29   40217
9  47873a   WIF156   40145